# Python & Caches
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Node
node_modules/
package-lock.json

# Environment Variables & Secrets
.env
.env.local
.env.*.local
*.env

# Virtual Environments
venv/
.venv/
env/

# Logs
*.log

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
